.notes-main-content{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.notes-main-content__appbar{
  background-color: $primary;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 10px 20px;
}

.notes-main-content__content{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
}

.notes-main-content__input-title,
.notes-main-content__textarea{
  border:none;
  &:focus{
    outline: none;
  }
}

.notes-main-content__input-title{
  color: $dark-gray;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
} 

.notes-main-content__textarea{
  border-bottom-style:solid;
  border-bottom-width: 2px;
  margin-bottom: 5px;
  color: $dark-gray;
  font-size: 20px;
  flex: 1 1 auto;
  resize: none;
}

.notes-main-content__image{
  width: 500px;
  box-shadow: 3px 3px 5px $dark-gray;
  margin: auto;
}

.imagen{
  display: block;
  max-width: 100%;
}
