// Configuraciones glabalesm de la aplicacion 

// Colores
$primary: #564664;
$dark-gray:#363636;
$light-gray:#d8d8d8;

// boton de google
$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;